.user-main-div, .field-details-div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height:max-content;
    padding-bottom: 60px;
    
}

/* CSS za SideBarComp */

.side-bar-div {
    text-align: center;
    padding: 25px 10px;
    margin: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 30px;
    height: 95vh;
}

#profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.username {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.side-bar-div, .image-username, .user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-buttons {
    margin-top: 30px;
}

.user-button, .change-password, .cancel-change-password, .interests, .change-profile-image, .button-card, .add-interest, .filter-button, .accept-invite-friend, .decline-invite-friend, .reset-filter{
    padding: 10px 40px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 25px;
    background-color: #3DD47A;
    color: #303030;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.change-password, .cancel-change-password, .interests, .change-profile-image, .add-interest, .button-card, .invite-friend, .reset-filter {
    background-color: #61dafb;
}

#user-logo-image {
    width: 200px;
    height: auto;
    margin-top: auto;
}


/* CSS za ProfileComp  */

.profile-div, .schedule-main-div, .schedule-first-div, .schedule-second-div, .one-card{
    padding: 20px;
    margin: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 30px;
}

.headline-profile, #heading-h2, #heading-reserved {
    font-weight: 700;
}

.table-one, .table-two {
    border-collapse: separate;
    border-spacing: 20px 15px;
    font-size: 20px;
}

td:first-child {
    font-weight: 800;
}

#add-interest, span, #newPassword, #confirmPassword, #profile-image-input, .selected-file-image, #profile-image-input::file-selector-button{
    padding: 10px 40px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    padding: 10px;
    font-size: 17px;
    margin: 5px;
}
.message {
    font-size: 17px;
    margin-left: 15px;
}

#profile-image-input::file-selector-button {
    cursor: pointer;
    width: max-content;
}

.div-image-change {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.choose-file button, span {
    padding: 10px;
}

.save-changes {
    position: absolute;
    right: 100px;
    bottom: 100px;
}

#heading-filter {
    padding: 30px;
}

/* CSS za DropDownComp  */

#label-drop, #label-date {
    font-size: 16px;
    font-weight: 800;
    width: 120px;
}

#dropdown {
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
    padding: 7px;
    margin: 3px;
    width: 300px;
}


/* CSS za CardComp */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 8px;
}

.one-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

#company-image-card {
    width: 100%;
    height: 250px;
    border-radius: 30px;
    background: 'url(../public/teren2.jpg) no-repeat center/cover';
}

#company-name-card, #company-address-card, #company-sports-card {
    margin: auto;
    padding: 5px;
}
#company-name-card{
    font-weight: 700;
}
.button-card {
    margin: 5px;
    height: auto;
    width: auto;
}
.menu-button {
    padding: 10px 40px;
    width: 100%;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
    background-color: lightgray;
    color: #303030;
    border: none;
    cursor: pointer;
}
.menu-button:hover {
    padding: 10px 40px;
    width: 100%;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
    background-color: #c0c0c0;
    color: #303030;
    border: none;
    cursor: pointer;
}
.user-card-container {
    border: solid 1px rgba(0, 0, 0, 0.176);
    border-radius: 10px;
    margin: 10px;
    height: '300px';
    overflow-y: scroll;
    background-color: aliceblue;
}
.user-card-title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.user-card-time{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.user-card-price{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
}  
  
.close-button{
    font-size: 16px;
    height: 35px;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    color: #303030;
    border: none;
    cursor: pointer;
}
.form-group-checkbox label input[type="checkbox"] {
    margin-right: 5px;
  }

/* CSS za Reserved component */

#heading-reserved {
    padding: 0;
    margin: 0;
}

/* za media CSS */

@media only screen and (min-width: 1025px) and (max-width: 1500px) {
    #company-image-card {
        height: 200px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .user-main-div, .field-details-div {
        display: flex;
        flex-direction: column;
        height:max-content;
        padding-bottom: 60px;
    }
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
    }
    #company-image-card {
        height: 250px;
    }

    .menu-button {
        height: auto;
    }

    #dropdown {
        width: 40%;
    }
}

@media only screen and (max-width: 767px) {
    .user-main-div, .field-details-div {
        display: flex;
        flex-direction: column;
        height:max-content;
        padding-bottom: 60px;
    }
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
    }
    #company-image-card {
        height: 110px;
    }

    .table-one {
        width: 100%;
        overflow-x: auto;
        table-layout: fixed;
        display: block;
        border: none;
      }
    
      .table-one th,
      .table-one td {
        display: block;
        
        text-align: center;
        border: none;
      }
    
      .table-one thead {
        display: none;
      }
    
      .table-one tbody tr {
        display: block;
        margin-bottom: 10px;
        border-color: none;
        border-radius: 4px;
      }
    
      .table-one tbody td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
      }
    
      .change-password, .change-profile-image, .filter-button, .reset-filter {
        display: block;
        height: auto;
        margin-top: 10px;
      }
    
      .profile-div {
        overflow: hidden;
      }
    
    #dropdown {
        width: 100%;
    }

}
.image-container {
    flex: 19;

}
.content-container {
    flex: 1;

}

.delete-icon, .icon-invite {
    font-size: 22px;
    border-color: none;
}
.icon-invite {
    background-color: #61dafb;
}

.accept-invite-friend, .invite-friend {
    background-color: #61dafb;
}
.decline-invite-friend, .delete-appointment {
    background-color: #FA8072;
}

.delete-appointment, .invite-friend {
    border: none;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
}
.delete-appointment {
    border-color: #FA8072;
}
.invite-friend {
    border-color: #61dafb;
}

#notif {
    position: relative;
}

.notification-badge {
    position: absolute;
    right: 0;
    left: 200px;
    bottom: 30px;
    background-color: #61dafb;
    padding: 3px;
    margin: 0;
}


#table_id {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
    font-size: 22px;
}
#table_id thead th{
    border-radius: 20px;
    background-color: none;
}
#table_id tr {
    background-color: none;
    margin-bottom: 20px;
  
}
#table_id thead {
    margin-bottom: 20px;
    background-color: none;
}
.reservation-wrapper{
    display: flex;
    flex-direction: row;
    height:max-content;
    align-items: start;
}

.appointment-form th, .appointment-form td{
    padding: 5px;
    vertical-align: top;
    text-align: left;
    width: min-content;
}
