.user-main-div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height:max-content;
    padding-bottom: 60px;
}

/* CSS za SideBarComp */

.side-bar-div {
    text-align: center;
    padding: 15px;
    margin: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 30px;
    height: 95vh;
}

#profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.username {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.side-bar-div, .image-username, .user-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-buttons {
    margin-top: 30px;
}

.user-button, .change-password, .cancel-change-password, .interests, .change-profile-image, .button-card, .add-interest {
    padding: 10px 40px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 25px;
    background-color: #3DD47A;
    color: #303030;
    border: none;
    cursor: pointer;
}

.change-password, .cancel-change-password, .interests, .change-profile-image, .add-interest {
    background-color: #61dafb;
}

#user-logo-image {
    width: 160px;
    height: 60px;
    margin-top: auto;
}


/* CSS za ProfileComp  */

.profile-div, .schedule-main-div, .schedule-first-div, .schedule-second-div, .one-card {
    padding: 30px;
    margin: 10px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 30px;
}

.headline-profile, #heading-h2 {
    font-weight: 700;
}

.table-one, .table-two {
    border-collapse: separate;
    border-spacing: 20px 15px;
    font-size: 20px;
}

td:first-child {
    font-weight: 800;
}

#add-interest, span, #newPassword, #confirmPassword, #profile-image-input, .selected-file-image, #profile-image-input::file-selector-button{
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 17px;
    margin: 5px;
}
.message {
    font-size: 17px;
    margin-left: 15px;
}

#profile-image-input::file-selector-button {
    cursor: pointer;
}

.div-image-change {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 60px 20px 20px;
}

.choose-file button, span {
    padding: 10px;
}
.change-profile-image {
    margin-left: 20px;
}

.save-changes {
    position: absolute;
    right: 100px;
    bottom: 100px;
}

/* CSS za ScheduledComp  */

#heading-h2 {
    margin-bottom: 40px;
}

/* CSS za DropDownComp i DateSmallComp  */

#label-drop, #label-date {
    font-size: 20px;
    font-weight: 800;
}

#dropdown, #dateInput {
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: lightgray;
    padding: 7px;
    margin: 3px;
}


/* CSS za CardComp */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
}

.one-card {
    margin: auto;
    display: inline-block;
    min-width: auto;
    min-height: auto;
}

#company-image-card {
    width: 100%;
    height: 70%;
    border-radius: 30px;
}

#company-name-card, #company-address-card {
    margin: auto;
    padding: 5px;
}
.button-card {
    margin: 5px;
    height: auto;
    width: auto;
}
.menu-button {
    padding: 10px 40px;
    width: 100%;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
    background-color: lightgray;
    color: #303030;
    border: none;
    cursor: pointer;
}
.menu-button:hover {
    padding: 10px 40px;
    width: 100%;
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 5px;
    background-color: #c0c0c0;
    color: #303030;
    border: none;
    cursor: pointer;
}
.user-card-container {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    height: '300px';
    overflow-y: scroll;
    background-color: aliceblue;
}
.user-card-title{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.user-card-time{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
.user-card-price{
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
