.nav-logo {
    font-size: 22px;
    font-weight: 900;
    margin-right: 50px;
}
.me-auto {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
}
#nav-button {
    padding: 12px;
    background-color: #61dafb;
    border-radius: 20px;
    margin-right: 20px;
    font-weight: 400;
}
#nav-button:hover {
    opacity: 0.5;
    cursor: pointer;
}
/*#div-nav {
    height:100vh;
}*/
