.sliding-sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgba(97,218,251,0.4);
    padding: 20px;
    z-index: 100;
    transition: left 0.3s ease-in-out;
}

.sliding-sidebar.open{
    left: 0;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 35px;
    z-index: 200;
    border: none;
    opacity: 0.7;
    background-color: #61dafb;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
}

.flex-column {
    margin: 20px;
    padding-top: 40px;
}
.img-logo {
    width: 105px;
    height: 50px;
    margin-left: 45px;
    margin-top: 10px;
}

