.cover-photo{
    width: '100%'; 
    height: '150px';
    background: 'url(../public/teren2.jpg) no-repeat center/cover';
}
.navbar{
    padding: 10px 30px 10px 30px;
    background-color: whitesmoke;
}
#navbar-logo-image{
    height: 40px;
}
.username-nav{
    font-weight: 700;
}
.nav-link{
    margin: 0px 10px;
}
.homepage{
    min-height:100vh;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.table{
    width: 80%;
}

.nav-item.active{
    background-color: #c0c0c0;
}
.delete-icon{
    font-size: 20px;
}
.sport_hall_photo_table{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.add-button{
    padding:  5px 20px;
    font-size: 16px;
    height: 35px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #3DD47A;
    color: #303030;
    border: none;
    cursor: pointer;
}
.right-col{
    text-align: end;  
}
th, td{
    vertical-align: middle;
}