.cover-photo{
    width: '100%'; 
    height: '150px';
    background: 'url(../public/teren2.jpg) no-repeat center/cover';
}
.navbar{
    padding: 10px 30px 10px 30px;
}
#navbar-logo-image{
    height: 40px;
}
.username-nav{
    font-weight: 700;
}
.nav-link{
    margin: 0px 10px;
}
.homepage{
    min-height:100vh;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.table{
    width: 80%;
}
.nav-item.active{
    background-color: lightgray;
}