.cover-photo{
    width: '100%'; 
    height: '150px';
    background: 'url(../public/teren2.jpg) no-repeat center/cover';
}
.navbar{
    padding: 10px 30px 10px 30px;
    background-color: whitesmoke;
}
#navbar-logo-image{
    height: 40px;
}
.username-nav{
    font-weight: 700;
}
.nav-link{
    margin: 0px 10px;
}
.homepage{
    min-height:100vh;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.table{
    width: 80%;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.176);
}

.nav-item.active{
    background-color: #c0c0c0;
}

.sport_hall_photo_table{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.add-button {
    padding:  5px 20px;
    font-size: 16px;
    height: 35px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #3DD47A;
    color: #303030;
    border: none;
    cursor: pointer;
}

.right-col{
    text-align: end;
    width: 200px;  
}
th, td{
    vertical-align: middle;
}
.modal1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
}  
.forma1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.close-button{
    font-size: 16px;
    height: 35px;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    color: #303030;
    border: none;
    cursor: pointer;
}
.o-terenu{
    background-color: whitesmoke;
    margin: 20px 0px;
    padding: 10px;
}
.o-terenu-table{
    width: 100%;
    background-color: whitesmoke;
}
.selection-form{
    margin: 20px 0px;
    padding: 25px;
    background-color: whitesmoke;
    color: #303030;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.176);
}
.title{
    background-color: whitesmoke;
    color: #303030;
    width: 80%;
    padding: 15px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.176);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-icon-button{
    background-color: whitesmoke;
    border: none;
}

.title h3 {
    margin-right: auto; /* Pushes the button to the end */
}

.filter-icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 20px; /* Add some spacing between the h3 and button */
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.filter-form{
    width: 80%;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.176);
    margin-bottom: 10px;
    color: #303030;
}
.filter-form-table{
    width: fit-content;
}
.table-wrapper{
    width: 100%;
}
.filter-form-label{
    font-weight: 600;
    width: max-content;
}
.filter-form-table th, .filter-form-table td{
    padding: 5px;
    vertical-align: top;
    text-align: left;
    width: min-content;
}
.add-button.filter-button {
    align-self: flex-end;
}
.appointment-form th, .appointment-form td{
    padding: 5px;
    vertical-align: top;
    text-align: left;
    width: min-content;
}
.edit-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.image-wrapper{
    width: fit-content;
    position: relative;
    margin: 20px;
}
.square-image-container {
    min-width: 100px;
    min-height: 100px;
    width: 200px; /* Set the desired fixed width */
    height: 200px; /* Set the desired fixed height */
    overflow: hidden; /* Hide any overflow beyond the container */
  }
  
.square-image-container img {
    width: 100%; /* Make the image fill the container width */
    height: 100%; /* Make the image fill the container height */
    object-fit: cover; /* Scale and crop the image to fill the container */
}

.cover-wrapper {
    position: relative;
  }
  
.edit-cover-photo-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color:#303030;
    font-size: 20px;
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.change-pass-form{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.176);
    margin-bottom: 10px;
    color: #303030;
}
.slobodan {
    background-color: #3DD47A !important;
    cursor: pointer;
    
}
.zauzet {
    background-color: red;
    cursor: pointer;
}
.green-modal {
    background-color: #d7fce1;
}
.yellow-modal {
    background-color: #fcf8d7;
}
.red-modal {
    background-color: #fff0f0;
}
.mainModalContainer{
    display: 'flex';
    flex-direction: column;
}
th {
    padding-right: 30px;
}